<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904536684742-ebrs4dat38v4bvq5d6n70ld6kmvdhjpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904536684742-ebrs4dat38v4bvq5d6n70ld6kmvdhjpa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904536684742-06a147gquj23593te0cd7oco6bgl8dan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-CzIQTgpWTsu2LPHtf0eqFMoRSompUL0</string>
	<key>GCM_SENDER_ID</key>
	<string>904536684742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsfoundry.eperpuswl.id.elib-sanurbsd</string>
	<key>PROJECT_ID</key>
	<string>santa-ursula-bsd</string>
	<key>STORAGE_BUCKET</key>
	<string>santa-ursula-bsd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904536684742:ios:3c25c0ad81f473ccf33fc7</string>
</dict>
</plist>