<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419699057529-juemgfh0mhbu76bt1f8qbd82gg2ed3v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419699057529-juemgfh0mhbu76bt1f8qbd82gg2ed3v6</string>
	<key>API_KEY</key>
	<string>AIzaSyDY6QwE98E_BKu7bd8dWK9ncH5HWORXP-o</string>
	<key>GCM_SENDER_ID</key>
	<string>419699057529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps-foundry.eperpuswl.id.pycdigilib</string>
	<key>PROJECT_ID</key>
	<string>purnomo-yusgiantoro-center</string>
	<key>STORAGE_BUCKET</key>
	<string>purnomo-yusgiantoro-center.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419699057529:ios:b3cda0625c81088b5ec5a8</string>
</dict>
</plist>
